*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F7E1D7;
}

/* ----------- Header ------------ */
header{
    background-color: #EFF2EF;
    border-end-end-radius: 2rem;
    border-end-start-radius: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    margin-bottom: 10px;
    width: 100%;
}
header div a h1{
    font-weight: bold;
    font-family: 'Bad Script', cursive;
    font-size: 2rem;
    color: #6495ed;
    font-weight: bold;
    /* display: inline-block; */
    margin-bottom: 0;
}
header div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}
header div img{
    height: 4rem;
    width: 4rem;
}
header div a{
    text-decoration: none;
}

header .barra-nav ul{
    list-style: none;
    margin: 0;
    margin-right: 2rem;
}
header .barra-nav ul li a{
    text-decoration: none;
    color: #FF5A5F;
    font-weight: bold;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 1.2rem;
    transition-duration: 1s;
}
header .barra-nav ul li a:hover{
    color: #6495ed;
}
header .barra-nav ul li{
    display: inline-block;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    transition: 1s;
}
header .barra-nav ul li:hover{
    transform: scale(1.1);
}

/*! -------------MAIN INDEX---------------- */

main .titulo-index {
    background-image: url(../img/imagen-principal2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 60vh;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


main .titulo-index div h2{
    font-weight: bold;
    text-align: center;
    font-family: 'Bad Script', cursive;
    font-size: 4rem;
    color: #6495ed;
    text-shadow: 1rem 1rem 0.8rem #FF5A5F,-1rem -1rem 0.8rem #FF5A5F,1px 1px 0 black;
}
main .titulo-index div p{
    font-weight: bold;
    text-align: center;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 2rem;
    font-style: italic;
    color: #6495ed;
    text-shadow: 1rem 1rem 0.8rem #FF5A5F,-1rem -1rem 0.8rem #FF5A5F,1px 1px 0 black;
}



/* ------pedido-------- */


main .pedido{
    display: flex;
    justify-content: center;
    align-items: center;
}
main .pedido .pedido-online-instruccion{
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main .pedido .pedido-online-instruccion .pedido-titulo h2{
    font-family: 'Bad Script', cursive;
    font-size: 1.5rem;
    text-align: center;
    text-shadow: 1rem 1rem 0.8rem #073489,-1rem -1rem 0.8rem #b1ccfd;
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-weight: bold;
}
main .pedido .pedido-online-instruccion .pedido-cajita{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
main .pedido .pedido-online-instruccion .pedido-cajita a{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 10rem;
    margin-right: 10rem;
    width: 100%;
    transition-duration: 1s;
}
main .pedido .pedido-online-instruccion .pedido-cajita a:hover{
    transform: scale(1.1);
}
main .pedido .pedido-online-instruccion .pedido-cajita a div img{
    height: 10rem;
    width: 10rem;
}
main .pedido .pedido-online-instruccion .pedido-cajita a{
    display: inline-block;
    background-color:#EFF2EF;
    width: 200px;
    border-radius: 2rem;
    text-decoration: none;
    margin: 1rem;
}
main .pedido .pedido-online-instruccion .pedido-cajita a div{
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .pedido .pedido-online-instruccion .pedido-cajita a div p{
    color:#FF5A5F;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 1rem;
    text-align: center;
}

/* *-----Productos----- */

main .productos-principales .productos-titulo h2{
    font-family: 'Bad Script', cursive;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 1rem 1rem 0.8rem #073489,-1rem -1rem 0.8rem #b1ccfd;
    margin-bottom: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
main .productos-principales{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .productos-principales .productos-caja{
    background-color:#EFF2EF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5rem;
    border-radius: 2rem;
    width: 90%;
    padding: 3rem;
    align-items: center;

}
main .productos-principales .productos-caja .productos-caja-texto{
    text-align: center;
    width: 20rem;
}
main .productos-principales .productos-caja .productos-caja-texto p{
    color:#FF5A5F;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 1rem;
}
main .productos-principales .productos-caja .productos-caja-texto h2{
    font-family: 'Bad Script', cursive;
    font-size: 1.5rem;
    font-weight: bold;
}
main .productos-principales .productos-caja .productos-caja-img{
    width: 40rem;
    height: 25rem;
}
main .productos-principales .productos-caja .productos-caja-img img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 2rem;
}
main .productos-principales .veganos{
    flex-direction: row-reverse;
}
main .productos-principales .sin-azucar{
    flex-direction: row-reverse;
}

/* ----Galeria---- */

main .galeria .galeria-titulo h2{
    font-family: 'Bad Script', cursive;
    font-size: 3rem;
    text-align: center;
    text-shadow: 1rem 1rem 0.8rem #073489,-1rem -1rem 0.8rem #b1ccfd;
    margin-bottom: 5rem;
    font-weight: bold;
}

main .galeria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .galeria .galeria-img-contenedor{
    width: 90%;
    padding-top: 2.5rem;
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 20rem;
    gap: 1rem;
    grid-template-areas: 
    "img1 img1 img2"
    "img1 img1 img2"
    "img3 img3 img4"
    "img7 img5 img4"
    "img7 img5 img6"
    "img8 img8 img6"
    ;
}
main .galeria-img-contenedor .galeria-img img{
    border-radius: 2rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 3px 3px 18px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 3px 18px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 18px 0px rgba(0,0,0,0.75);
}
main .galeria-img-contenedor .img1{
    grid-area: img1;
}
main .galeria-img-contenedor .img2{
    grid-area: img2;
}
main .galeria-img-contenedor .img3{
    grid-area: img3;
}
main .galeria-img-contenedor .img4{
    grid-area: img4;
}
main .galeria-img-contenedor .img5{
    grid-area: img5;
}
main .galeria-img-contenedor .img6{
    grid-area: img6;
}
main .galeria-img-contenedor .img7{
    grid-area: img7;
}
main .galeria-img-contenedor .img8{
    grid-area: img8;
}



/* -------whatsapp-flotante-------- */

main .whatsapp-flotante{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: #6494ed5a;
    border-radius: 15px;
}
main .whatsapp-flotante a{
    display: flex;
    text-decoration: none;
}
main .whatsapp-flotante a img{
    width: 3rem;
    height: 3rem;
}
main .whatsapp-flotante a p{
    font-size: 0.8rem;
    color:#FF5A5F;
    font-family: 'Hind Siliguri', sans-serif;
}


/* !-----------MAIN PRODUCTOS---------- */



main .titulo-productos{
    background-image: url(../img/productos-fondo-titulo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 60vh;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .titulo-productos div{
    text-align: center;
    color: #FF5A5F;
    text-shadow: 1rem 1rem 0.8rem #6495ed,-1rem -1rem 0.8rem #6495ed,1px 1px 0 black;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
}
main .titulo-productos div h2{
    font-family: 'Bad Script', cursive;
    font-size: 4rem;
}
main .titulo-productos div p{
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 2rem;

}

/* !----------------------SABORES AL PESO------------------------- */

main .sabores-alpeso .sabores-alpeso-titulo h2{
    font-family: 'Bad Script', cursive;
    font-size: 3rem;
    text-shadow: 1rem 1rem 0.8rem #073489,-1rem -1rem 0.8rem #b1ccfd;
    text-align: center;
    margin-bottom: 2.5rem;
}
main .sabores-alpeso{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
main .sabores-alpeso .sabores-alpeso-caja1{
    width: 80%;
}
main .sabores-alpeso .sabores-alpeso-caja1 .sabores-alpeso-caja-grande{
    width: 100%;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
main .sabores-alpeso .sabores-alpeso-caja1 .sabores-alpeso-caja-grande .sabores-alpeso-categoria-titulo{
    width: 100%;
    height: 6rem;
}
main .sabores-alpeso .sabores-alpeso-caja1 .sabores-alpeso-caja-grande .sabores-alpeso-categoria-titulo h3{
    font-family: 'Bad Script', cursive;
    font-size: 3rem;
    text-shadow: 1rem 1rem 0.8rem #ccdeff,-1rem -1rem 0.8rem #ccdeff;
}
main .sabores-alpeso .sabores-alpeso-caja1 .sabores-alpeso-caja-grande .gustos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
main .sabores-alpeso .sabores-alpeso-caja1 .sabores-alpeso-caja-grande .gustos ul{
    width: 300px;
    margin-top: 2.5rem;
    
}
main .sabores-alpeso .sabores-alpeso-caja1 .sabores-alpeso-caja-grande .gustos ul li{
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 2rem;
    color: #FF5A5F;
    list-style:circle;
}
.sabores-alpeso .sabores-alpeso-caja2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.sabores-alpeso .sabores-alpeso-caja2 .sabores-alpeso-caja-chica .sabores-alpeso-categoria-titulo{
    height: 6rem;
}


.sabores-alpeso .sabores-alpeso-caja2{
    width: 85%;
}
.sabores-alpeso .sabores-alpeso-caja2 .sabores-alpeso-caja-chica{
    width: 460px;
    margin-bottom: 2.5rem;
}
.sabores-alpeso .sabores-alpeso-caja2 .sabores-alpeso-caja-chica .gustos ul{
    width: 85%;
    margin-top: 2.5rem;
}
.sabores-alpeso .sabores-alpeso-caja2 .sabores-alpeso-caja-chica .gustos ul li{
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 2rem;
    color: #FF5A5F;
    list-style:circle;
}
.sabores-alpeso .sabores-alpeso-caja2 .sabores-alpeso-caja-chica .gustos{
    display: flex;
    justify-content: space-evenly;
}
.sabores-alpeso .sabores-alpeso-caja2 .sabores-alpeso-caja-chica .sabores-alpeso-categoria-titulo h3{
    text-align: center;
    font-family: 'Bad Script', cursive;
    font-size: 3rem;
    text-shadow: 1rem 1rem 0.8rem #073489,-1rem -1rem 0.8rem #b1ccfd;
}


main .sabores-alpeso .sabores-alpeso-caja1 .sabores-alpeso-cremas .sabores-alpeso-cremas-titulo{
    background-image: url(../img/productos-helado-crema.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 2rem;
    width: 100%;
}
main .sabores-alpeso .sabores-alpeso-caja1 .sabores-alpeso-chocolates .sabores-alpeso-chocolates-titulo{
    background-image: url(../img/producto-helado-chocolate.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 2rem;
    width: 100%;
}
main .sabores-alpeso .sabores-alpeso-caja2 .sabores-alpeso-ddl{
    margin-right: 10px;
}
main .sabores-alpeso .sabores-alpeso-caja2 .sabores-alpeso-ddl .sabores-alpeso-ddl-titulo{
    background-image: url(../img/producto-helado-ddl.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 2rem;
    width: 100%;
}
main .sabores-alpeso .sabores-alpeso-caja2 .sabores-alpeso-veganos{
    margin-left: 10px;
}
main .sabores-alpeso .sabores-alpeso-caja2 .sabores-alpeso-veganos .sabores-alpeso-veganos-titulo{
    background-image: url(../img/producto-helado-vegano.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 2rem;
    width: 100%;
}

/* ----------Productos postres----------- */

main .productos-postres{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3.75rem;
}
main .productos-postres .cajita-postres{
    width: 30rem;
    height: 30rem;
    display: inline-block;
    border-radius: 2rem;
    margin: 1.25rem;
}
main .productos-postres .cajita-postres h2{
    font-family: 'Bad Script', cursive;
    font-size: 3rem;
    text-shadow: 1rem 1rem 0.8rem #ccdeff,-1rem -1rem 0.8rem #ccdeff;
    text-align: center;
}
main .productos-postres .postres-cubanitos{
    background-image: url(../img/producto-helado-cubanitos.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
main .productos-postres .postres-tabletas{
    background-image: url(../img/producto-helado-tabletas.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
main .productos-postres .postres-paletas-lisas{
    background-image: url(../img/producto-helado-lisas.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
main .productos-postres .postres-paletas-rellenas{
    background-image: url(../img/producto-helado-rellenas.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
main .productos-postres .postres-tortas{
    background-image: url(../img/producto-helado-tortas.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
main .productos-postres .postres-barras{
    background-image: url(../img/producto-helado-barra.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


/* !-----------MAIN SUCURSALES---------- */

main .sucursal-titulo{
background-image: url(../img/sucursales-4-titulo.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
width: 100%;
height: 60vh;
border-radius: 2rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
main .sucursal-titulo{
    text-align: center;
    color: #FF5A5F;
    text-shadow: 1rem 1rem 0.8rem #6495ed,-1rem -1rem 0.8rem #6495ed,1px 1px 0 black;
    font-size: 3rem;
}
main .sucursal-titulo h2{
    font-family: 'Bad Script', cursive;
}
main .sucursal-titulo p{
    font-family: 'Hind Siliguri', sans-serif;
}
main .caja-sucursales .caja-sucursales-titulo{
    font-family: 'Bad Script', cursive;
    font-size: 3rem;
    text-align: center;
    text-shadow: 1rem 1rem 0.8rem #073489,-1rem -1rem 0.8rem #b1ccfd;
    margin-bottom: 5rem;
    margin-top: 5rem;
}
main .caja-sucursales{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main .caja-sucursales .sucursal{
    background-color:#EFF2EF;
    margin-bottom: 5rem;
    border-radius: 2rem;
    align-items: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 90%;
    height: auto;
    padding: 2rem;
    flex-wrap: wrap;
}
main .caja-sucursales .sucursal-2{
    flex-direction: row-reverse;
}
main .caja-sucursales .sucursal-4{
    flex-direction: row-reverse;
}
main .caja-sucursales .sucursal .sucursal-img img{
    width: 40rem;
    height: 25rem;
    object-fit:cover;
    border-radius: 2rem;
}
main .caja-sucursales .sucursal .sucursal-texto{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
main .caja-sucursales .sucursal .sucursal-texto iframe{
    margin-top: 1rem;
    width: 25rem;
    height: 7rem;
    border-radius: 2rem;
}
main .caja-sucursales .sucursal .sucursal-texto .item{
    display: flex;
    justify-content: center;
    align-items: center;
}
main .caja-sucursales .sucursal .sucursal-texto .item p{
    color:#FF5A5F;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 1rem;
    width: 20rem;
    text-align: center;
}
main .caja-sucursales .sucursal .sucursal-texto .item img{
    width: 2rem;
    height: 2rem;
}
main .caja-sucursales .sucursal .item-rappi-1{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}
main .caja-sucursales .sucursal .item-rappi-2{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}
main .caja-sucursales .sucursal .item-rappi img{
    width: 4rem;
    height: 4rem;
}
main .caja-sucursales .sucursal .sucursal-texto p{
    color:#FF5A5F;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 1rem;
    width: 20rem;
    text-align: center;
}
main .caja-sucursales .sucursal .sucursal-texto h2{
    font-family: 'Bad Script', cursive;
    font-size: 1.5rem;
}

/* !-----------PEDIDOS---------- */

main .titulo-online div{
    background-image: url(../img/pedido-titulo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
    color: #FF5A5F;
    text-shadow: 1rem 1rem 0.8rem #6495ed,-1rem -1rem 0.8rem #6495ed,1px 1px 0 black;
    font-size: 3rem;
    width: 100%;
    height: 60vh;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .titulo-online h2{
    font-family: 'Bad Script', cursive;
}
main .titulo-online p{
    font-family: 'Hind Siliguri', sans-serif;
}
main .caja-online-pedido .formulario-pedido form .pasos{
    text-align: center;
}
main .caja-online-pedido .formulario-pedido form .pasos h3{
    font-family: 'Bad Script', cursive;
    font-size: 3rem;
    color: black;
    text-shadow: 1rem 1rem 0.8rem #6495ed,-1rem -1rem 0.8rem #6495ed;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
}

main .caja-online-pedido .formulario-pedido form .pasos h4{
    font-family: 'Bad Script', cursive;
    font-size: 2rem;
    text-shadow: 1rem 1rem 0.8rem #6495ed,-1rem -1rem 0.8rem #6495ed;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
main .caja-online-pedido .formulario-pedido form .pasos p{
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 1.5rem;
    color: #FF5A5F;
    text-shadow: 1rem 1rem 0.8rem #6495ed,-1rem -1rem 0.8rem #6495ed;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
main .caja-online-pedido .formulario-pedido form .pasos img{
    width: 4rem;
    height: 4rem;
}
main .caja-online-pedido .formulario-pedido form .cajita-seleccion-productos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    flex-wrap: wrap;
}
main .caja-online-pedido .formulario-pedido form .cajita-seleccion-productos .caja-opcion{
    width: 370px;
    height: 4rem auto;
    border: none;
    border-radius: 1rem;
    display: inline-block;
    background-color: white;
    font-size: 1.5rem;
    font-family: 'Hind Siliguri', sans-serif;
    font-style: italic;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
main .caja-online-pedido .formulario-pedido form .cajita-seleccion-productos .caja-opcion select{
    border-radius: 1rem;
    display: inline-block;
    background-color: white;
    font-size: 0.8rem;
    font-family: 'Hind Siliguri', sans-serif;
    font-style: italic;
    width: 120px;
}
main .caja-online-pedido .formulario-pedido form .cajita-seleccion-productos .caja-opcion label{
    width: 160px;
}
main .caja-online-pedido .formulario-pedido form .cajita-seleccion-productos .caja-opcion select option{
    border-radius: 1rem;
}

main .caja-online-pedido .formulario-pedido form .nombre-tlf{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2.5rem;
    display: flex;
    flex-wrap: wrap;
}
main .caja-online-pedido .formulario-pedido form .nombre-tlf div input{
    width: 20rem;
    height: 4rem;
    border: none;
    background-color: white;
    border-radius: 1rem;
    font-size: 2rem;
    font-family: 'Hind Siliguri', sans-serif;
    font-style: italic;
}
main .caja-online-pedido .formulario-pedido form .nombre-tlf div{
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
}
main .caja-online-pedido .formulario-pedido form .direccion{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    flex-wrap: wrap;
}
main .caja-online-pedido .formulario-pedido form .direccion .entre{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
main .caja-online-pedido .formulario-pedido form .direccion .direccion-valor label{
    font-size: 1.2rem;
    font-family: 'Hind Siliguri', sans-serif;
    font-style: italic;
}
main .caja-online-pedido .formulario-pedido form .direccion .direccion-valor input{
    width: 10rem;
    height: 4rem;
    border: none;
    background-color: white;
    border-radius: 1rem;
    font-size: 2rem;
    font-family: 'Hind Siliguri', sans-serif;
    font-style: italic;
    margin-left: 1rem;
    margin-right: 1rem;
}
main .caja-online-pedido .formulario-pedido form .direccion .enviar input{
    background-color: rgba(255, 107, 107, 0.544);
    width: 7rem;
    height: 2rem;
    font-size: 1.2rem;
    font-family: 'Hind Siliguri', sans-serif;
    border-radius: 0.6rem;
    border: none;
}




/* !-----------TRABAJA CON NOSOTROS---------- */
main .titulo-trabaja{
    background-image: url(../img/trabaja-titulo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #FF5A5F;
    text-shadow: 1rem 1rem 0.8rem #6495ed,-1rem -1rem 0.8rem #6495ed,1px 1px 0 black;
    width: 100%;
    height: 70vh;
    border-radius: 2rem;
    font-family: 'Bad Script', cursive;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .titulo-trabaja h2{
    font-size: 4rem;
    font-weight: bold;
}
main .form-trabaja .envianos h3{
    font-family: 'Bad Script', cursive;
    font-size: 3rem;
    color: black;
    text-shadow: 1rem 1rem 0.8rem #6495ed,-1rem -1rem 0.8rem #6495ed;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    text-align: center;
}
main .form-trabaja .trabaja-contenedor{
    width: 400px;
    margin-bottom: 8rem;
}
main .form-trabaja .trabaja-contenedor .form-relleno input{
    font-style: italic;
}

/* !-----------FOOTER---------- */


footer{
    background-color: #C1EDCC;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    /* margin-top: 3.75rem; */
}

footer .footer-caja{
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition-duration: 1s;
}
footer .footer-caja:hover{
    transform: scale(1.1);
}

footer .footer-logo{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
footer .footer-logo a{
    text-decoration: none;
    color: #6495ed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer .footer-logo a h2{
    color: #6495ed;
    font-family: 'Bad Script', cursive;
    font-size: 1.5rem;
}
footer .footer-logo a p{
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 1rem;
    color: #FF5A5F;
}
footer .footer-logo img{
    height: 4rem;
    width: 4rem;
    display: flex;
}
footer .redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer .redes a{
    transition-duration: 1s;
}
footer .redes a:hover{
    transform: scale(1.1)
}
footer .redes a img{
    height: 4rem;
    width: 4rem;
    display:flex ;
}
footer .links-de-interes{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer .links-de-interes h2{
    color: #6495ed;
    font-family: 'Bad Script', cursive;
    font-size: 1.5rem;
}
footer .links-de-interes a{
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 1rem;
    color: #FF5A5F;
    text-align: left;
    transition-duration: 1s;
}
footer .links-de-interes a:hover{
    transform: scale(1.1);
}



/*! --------------------------Media Query-------------------------- */

@media screen and (max-width:1227px){

    /** ----------SUCURSALES---------- */


    main .caja-sucursales .sucursal{
        width: 90%;
        height: auto;
        padding: 2rem;
        flex-wrap: wrap;
    }
    main .caja-sucursales .sucursal .sucursal-img{
        width: 25rem;
        height: 15rem;

    }
    main .caja-sucursales .sucursal .sucursal-img img{
        width: 100%;
        height: 100%;
    }
}



@media screen and (max-width:1174px){

    /** ---------HEADER---------- */

    header .barra-nav ul li a{
        font-size: 1rem;
    }
    header .barra-nav ul li{
        margin-left: 0.3rem;
        margin-right: 0.3rem;
    }



    /** ---------INICIO---------- */

    main .productos-principales .productos-caja .productos-caja-texto p{
        margin-bottom: 3rem;
    }
    main .productos-principales .productos-caja{
        width: auto;
        flex-direction: column;
    }
    main .titulo-index div{
        font-size: 2rem;
    }
    main .galeria .galeria-img-contenedor{
        padding-left: 3rem;
        padding-right: 3rem;
    }

    /** ---------PRODUCTOS---------- */

    main .sabores-alpeso .sabores-alpeso-caja1 .sabores-alpeso-caja-grande .gustos ul li{
        font-size: 1rem;
        list-style: none;
        text-align: center;
    }
    main .sabores-alpeso .sabores-alpeso-caja1 .sabores-alpeso-caja-grande .gustos ul{
        width: 200px;
        margin-top: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .sabores-alpeso .sabores-alpeso-caja2 .sabores-alpeso-caja-chica .gustos ul li{
        font-size: 1rem;
        list-style: none;
        text-align: center;
    }
    .sabores-alpeso .sabores-alpeso-caja2 .sabores-alpeso-caja-chica .gustos ul{
        width: 200px;
        margin-top: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }


    
}



@media screen and (max-width:960px){

    /** ----------SUCURSALES---------- */

    main .caja-sucursales .sucursal{
        width: min-content;
    }
    main .caja-sucursales .sucursal .sucursal-img{
        width: 25rem;
        height: 15rem;
        padding-top: 2rem;
    }
    main .caja-sucursales .sucursal .sucursal-img{
        display:none !important;
    }
    main .caja-sucursales .sucursal-1{
        background-image: url(../img/sucursales-1-titulo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    main .caja-sucursales .sucursal-2{
        background-image: url(../img/sucursales-2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }    
    main .caja-sucursales .sucursal-3{
        background-image: url(../img/sucursales-3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }    
    main .caja-sucursales .sucursal-4{
        background-image: url(../img/sucursales-5.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    main .caja-sucursales .sucursal .sucursal-texto .item{
        padding-right: 2rem;
    }
    main .caja-sucursales .sucursal .sucursal-texto .item p{
        background-color: #eff2efb4;
        border-radius: 1rem;
        margin-top: 1rem;
        font-weight: bold;
    }
    main .caja-sucursales .sucursal .sucursal-texto h2{
        background-color: #eff2efb4;
        border-radius: 1rem;
        padding: 4px;
        font-weight: bold;
    }
    main .caja-sucursales .sucursal .sucursal-texto iframe{
        width: 25rem;
        height: 15rem;
        opacity: .8;
    }

/** ----------PEDIDOS---------- */


    main .caja-online-pedido .formulario-pedido form .direccion .enviar input{
        margin-top: 2rem;
        
    }
    main .caja-online-pedido .formulario-pedido form .direccion .direccion-valor input{
        margin-top: 2rem;
        text-align: center;
        height: 3rem;
}
    main .caja-online-pedido .formulario-pedido form .direccion .direccion-valor{
        display: flex;
        justify-content: space-evenly;
        align-items: center;

}

main .titulo-online div{
    font-size:  2rem;
}

main .caja-online-pedido .formulario-pedido form .pasos h3{
    font-size: 1.5rem;

}

main .caja-online-pedido .formulario-pedido form .pasos h4{
    font-size: 1.5rem;
}

main .caja-online-pedido .formulario-pedido form .nombre-tlf div input{
    width: 15rem;
    height: 3rem;
    margin-top: 2rem;
}

}



@media screen and (max-width:780px){

    /** ---------INICIO---------- */

    header{
        flex-direction: column;
        height:auto;
    }
    header div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1.5rem;
    }
    header .barra-nav ul{
        margin-top: 2.5rem;
        margin-bottom: 1.5rem;
    }
    header .barra-nav ul{
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }


    main .titulo-index div h2{
        font-size: 2.5rem;
        font-weight: bold;
    }
    main .titulo-index div p{
        font-size: 1.5rem;
    }
    header .barra-nav ul li{
        margin-left: 0.3rem;
        margin-right: 0.3rem;
    }



    main .productos-principales .productos-titulo h2{
        font-size: 1.5rem;
    }
    main .productos-principales .productos-caja .productos-caja-img{
        width: 30rem;
        height: 25rem;
    }
    main .productos-principales .productos-caja{
    padding: 1.5rem;
    
    }

    main .galeria .galeria-img-contenedor{
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "img6 img6"
        "img6 img6"
        "img2 img3"
        "img4 img3"
        "img4 img5"
        "img1 img1"
        "img1 img1"
        "img7 img8"
        "img7 img8"
        ;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    /** ---------PRODUCTOS---------- */

    main .titulo-productos div h2{
        font-size: 2.5rem;
    }
    main .titulo-productos div p{
        font-size: 1.5rem;
    
    }

    /** ---------SUCURSALES---------- */


    main .sucursal-titulo{
        font-size: 2rem;
    }

    /** ---------TRABAJA---------- */

    main .titulo-trabaja h2{
        font-size: 2.8rem;
        font-weight: bold;
    }


}


@media screen and (max-width:570px){

    /** ---------INICIO---------- */



    header div {
        margin:0;

    }
    header .barra-nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header .barra-nav ul li{
        margin-bottom: 0.5rem;
    }
    main .productos-principales .productos-caja .productos-caja-img{
        width: 25rem;
        height: 20rem;
    }
    main .productos-principales .productos-titulo h2{
        font-size: 1.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    /*? ---------PRODUCTOS---------- */

    main .productos-postres .cajita-postres{
        width: 20rem;
        height: 20rem;
    }
    main .productos-postres .cajita-postres h2{
        font-size: 2rem;
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    
    .sabores-alpeso .sabores-alpeso-caja2 .sabores-alpeso-caja-chica .sabores-alpeso-categoria-titulo h3{
        font-size: 2.3rem;
        font-weight: bold;
    }
    .sabores-alpeso .sabores-alpeso-caja2 .sabores-alpeso-caja-chica .sabores-alpeso-categoria-titulo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main .sabores-alpeso .sabores-alpeso-caja1 .sabores-alpeso-caja-grande .sabores-alpeso-categoria-titulo h3{
        font-size: 2.3rem;
    }
    main .sabores-alpeso .sabores-alpeso-caja1 .sabores-alpeso-caja-grande .sabores-alpeso-categoria-titulo{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}




@media screen and (max-width:530px){

    /** ---------INICIO---------- */


    main .productos-principales .productos-caja .productos-caja-img{
        width: 300px;
        height: 300px;
    }
    main .productos-principales .productos-caja .productos-caja-texto{
        text-align: center;
        width: 15rem;
    }
    main .productos-principales .productos-caja{
        padding: 1rem;
    }
    main .pedido .pedido-online-instruccion .pedido-titulo h2{
        width: 250px;
        height: 150px;
        padding: 5px;
        margin: 0px 0px 0px 0px;
    }
    main .galeria .galeria-img-contenedor{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "img6"
        "img6"
        "img2"
        "img4"
        "img4"
        "img1"
        "img1"
        "img7"
        "img3"
        "img5"
        "img8"
        ;
        padding-left: 3rem;
        padding-right: 3rem;
    }


    /** ---------SUCURSALES---------- */


    main .caja-sucursales .sucursal .sucursal-texto .item p{
        width: 10rem;
    }
    main .caja-sucursales .sucursal .sucursal-texto iframe{
        width: 15rem;
        height: 20rem;
        opacity: .8;
    }
    main .sucursal-titulo{
        font-size: 1.5rem;
    }

    /** ---------PEDIDOS---------- */

    main .titulo-online div{
        font-size:  1.5rem;
    }


    /** ---------TRABAJA---------- */


    main .form-trabaja .trabaja-contenedor{
        width: 300px;
        margin-bottom: 8rem;
    }
}



@media screen and (max-width:400px){

    main .productos-principales .productos-caja{
        padding: 0;
        padding-top: 2rem;
    }
    main .productos-principales .productos-caja .productos-caja-img{
        width: 250px;
        height: 250px;
        padding: 5px;
    }
    main .galeria .galeria-img-contenedor{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    /*? ---------PRODUCTOS---------- */


}

@media screen and (max-width:400px){

    /*? ---------PRODUCTOS---------- */

    main .productos-postres .cajita-postres{
        width: 16rem;
        height: 16rem;
    }
    main .sabores-alpeso .sabores-alpeso-titulo h2{
        font-size: 2.3rem;
    }


    /*? ---------PEDIDOS---------- */



    main .caja-online-pedido .formulario-pedido form .cajita-seleccion-productos .caja-opcion{
        justify-content: center;
        flex-direction: column;
    }
    main .caja-online-pedido .formulario-pedido form .cajita-seleccion-productos .caja-opcion label{
        width: auto;
    }


        /** ---------TRABAJA---------- */
}